+++
title = "M4"
linkTitle = "M4"

+++

{{< blocks/cover title="Welcome to M4: An open-source monitoring system!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/m4system/m4system-application">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5" style="font-size: +150%; color: #ffffff; font-style: bold;">Start polling ModBus, SNMP or with custom scripts in minutes!</p>
		{{< blocks/link-down color="info" >}}

{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
M4 provides a single web UI providing visibility into any metrics! If it's accessible from the server running the code, you can make a metric out of it.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="New chair metrics!" %}}
The Goldydocs UI now shows chair size metrics by default.

Please follow this space for updates!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/dgagnon/m4system" %}}
We do a [Pull Request](https://github.com/dgagnon/m4system/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/m4system" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col">
<h1 class="text-center">Run it on the RasberyPi and use M4 to automate your workflows</h1>
Quickly setup a monitoring gateway using a rasberyPi or any computer.  Hop over to the documentation for the install guides.

Using a Pi opens up many possibilities using the onboard GPIO and i2c port with relays and sensors.
</div>

{{< /blocks/section >}}



{{< blocks/section >}}
{{% blocks/feature icon="fab fa-app-store-ios" title="Download **from AppStore**" %}}
Get the Goldydocs app!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/dgagnon/m4system" %}}
We do a [Pull Request](https://github.com/dgagnon/m4system/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/m4system" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}

{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">Extend your experience with community plugins</h1>
By you, for you.

With Python, the only limit is you.
</div>

{{< /blocks/section >}}
